.banner {
    background-image: url('./../Images/banner.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 500px;
}

.banner-mobile {
    background-image: url('./../Images/banner2.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 240px;
}

.barra-menu {
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(54, 54, 54, 0.3);

}

section h1, section h2 {
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
}
section h2 {
margin: 15px 0;
}
section h1{
    font-size: 22px !important;
}
.como_funciona .col-md-4 {
    padding: 15px !important;
    text-align: left;
    font-family: 'Open sans', sans-serif;
}

@media screen and (min-width: 0) and (max-width: 1000px) {
    .como_funciona .col-md-4 {
        padding: 8px !important;
    }
}
.mensagemPrincipal .titulo-section{
    padding: 0 !important;
}
.mensagemPrincipal h1{
    text-align: left !important;
    font-weight: 600;
}
.titulo-section {
    margin-top: 75px;
    font-weight: revert;
    position: relative;
    font-size: 34px;
}

.titulo-section::before {
    content: '';
    width: 72px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: #683da3;

}

.theme-title-one {
    position: relative;
    padding-top: 25px;
}

.titulo-categoria {
    padding: 20px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: white;
    text-transform: uppercase;
}

.titulo-categoria span {
    border: 1px solid #fff;
    padding: 5px;
    font-weight: bold;
}

#imagem_da_categoria img {
    max-width: 300px;
}

#dados_da_categoria {
    padding: 0;
}

.fade.in {
    opacity: 1 !important;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

#conteudo_categoria {
    transition: all 0.4s linear !important;
}

#area_de_escolha_das_categorias {
    height: 50px;
}

#descricao_da_categoria {
    min-height: 170px;
}























